
<div class="grid2col-aap1">
  <!-- first child-->
  <div>
    See or process visually presented classroom materials, texts, handouts and other printed material.
  </div>

<!-- second child -->
<div>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="visualAids"
    cName="assistiveTech"
    controlType="checkbox"
    label="Assistive Technology"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="visualAids"
    cName="audio"
    controlType="checkbox"
    label="Audio"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="visualAids"
  cName="brail"
  controlType="checkbox"
  label="Braille"
  [userList]="userList"
> </app-elem-with-sig>

<app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="visualAids"
  cName="cctv"
  controlType="checkbox"
  label="CCTV / Magnifier"
  [userList]="userList"
> </app-elem-with-sig>

<app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="visualAids"
  cName="etext"
  controlType="checkbox"
  label="E-text"
  [userList]="userList"
> </app-elem-with-sig>

<app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="visualAids"
  cName="enlargedPrint"
  controlType="checkbox"
  label="Enlarged Print (written and / or digital)"
  [userList]="userList"
> </app-elem-with-sig>

<app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="visualAids"
  cName="fontSize"
  controlType="text"
  label="Specify font size"
  [userList]="userList"
> </app-elem-with-sig>

<app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="visualAids"
  cName="noteTaking"
  controlType="checkbox"
  label="Shared notes"
  [userList]="userList"
> </app-elem-with-sig>

<app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="visualAids"
  cName="prefSeating"
  controlType="checkbox"
  label="Preferential seating"
  [userList]="userList"
> </app-elem-with-sig>

<app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="visualAids"
  cName="reader"
  controlType="checkbox"
  label="Reader / Text to speech application"
  [userList]="userList"
> </app-elem-with-sig>

<app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="visualAids"
  cName="other"
  controlType="text"
  label="Other"
  [userList]="userList"
> </app-elem-with-sig>


</div> <!-- second col -->

</div> <!-- grid2col-aap1 -->
