<div class="panel panel-default">

  <div class="panel-heading">
    <div class="panel-title inline">
      {{ formTitle }}
      <span *ngIf="formLabel"> : {{ formLabel }} </span>
    </div>
  </div> <!-- panel-heading -->

  <div class="panel-body">
    <table class="table table-bordered table-striped table-hover">
      <tbody>
        <tr><td>Name</td>
          <td> {{ wrappedForm.formWithLatestHistory['studentLastName'].val }} ,
            {{ wrappedForm.formWithLatestHistory['studentFirstName'].val }}</td></tr>
        <tr><td>Student ID</td> <td> {{ wrappedForm.formWithLatestHistory['collegeId'].val }} </td></tr>
        <tr><td>Student WVM Email</td> <td> {{ wrappedForm.formWithLatestHistory['studentEmail'].val }} </td></tr>
      </tbody>
    </table>
  </div> <!-- panel-body -->
</div> <!-- panel panel-default -->

<!-- put completedBy at the end -->

  <!-- <ion-item>
    <ion-label position="floating">Form completed and approved eligible by (DSPS Professional) *</ion-label>
    <ion-input
      [class.required]="showRequired(mode)"
      formControlName="completedBySignature"></ion-input>
  </ion-item>
  <ion-item *ngIf="form.get('completedBySignature').touched && !form.get('completedBySignature').valid">
    <ion-label color="danger">DSPS Professional's signature is required.</ion-label>
  </ion-item> -->



