<div [formGroup]="form">

  <!-- show user color of background for required fields -->
  <app-required-field-prompt [showRequired]="showRequired(mode)"></app-required-field-prompt>

<ion-row>
  <ion-col>
    <ion-item>
      <ion-label position="floating">Semester</ion-label>
      <ion-input 
        type="text"
        formControlName="semester"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-list>
      <ion-item>
        <ion-label  position="floating">Name *</ion-label>
        <ion-input 
          type="text"
          [class.required]="showRequired(mode)"
          formControlName="studentName"></ion-input>
      </ion-item>
      <p *ngIf="form.get('studentName').touched && !form.get('studentName').valid">
        <ion-label color="danger">Need a student name</ion-label>
      </p>
    </ion-list>  
  </ion-col>
  <ion-col>
    <ion-list>
      <ion-item>
        <ion-label  position="floating">Student ID *</ion-label>
        <ion-input 
          type="text"
          [class.required]="showRequired(mode)"
          formControlName="collegeId"></ion-input>
      </ion-item>
      <p *ngIf="form.get('collegeId').touched && !form.get('collegeId').valid">
        <ion-label color="danger">Need Student ID</ion-label>
      </p>
    </ion-list>
  </ion-col>

  <ion-col>
    <ion-list>
      <ion-item>
        <ion-label  position="floating">Student WVM Email *</ion-label>
        <ion-input 
          type="text"
          [class.required]="showRequired(mode)"
          formControlName="studentEmail"></ion-input>
      </ion-item>
      <div  *ngIf="studentEmail.touched" >
        <p *ngIf="studentEmail.errors?.required"  >
          <ion-label color="danger"> Student email is required </ion-label>
        </p>
        <p *ngIf="studentEmail.errors?.validWvmEmail || studentEmail.errors?.email"  >
          <ion-label color="danger"> This must be a valid wvm.edu email </ion-label>
        </p>
      </div>
    </ion-list>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <h2>General Description</h2>
   <p>
    The services listed below may be provided to a student by DSPS only 
    if all of the following conditions have been met: 
    (1) the approved accommodations do not duplicate services or instruction which 
    are otherwise available to all students; 
    (2) the accommodations are directly related to the educational limitations of 
    the verified disabilities of the student to be served; 
    (3) the accommodations are directly related to the student’s participation in 
    the educational process at this college; and (4) the accommodations are 
    intended to promote the maximum independence and integration of the student, 
    and aid in supporting the student’s participation in educational activities 
    consistent with the mission of the community colleges. In addition,
     the college may decline to provide accommodations that would necessitate 
     fundamental alterations of academic requirements.
   </p>
  </ion-col>
</ion-row>

</div>