
<div class="grid2col-aap1">
  <!-- first child-->
  <div>
    Take tests in the traditional manner
  </div>

<!-- second child -->
<div>




  <!--


  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="tests"
    cName="extendedTime"
    controlType="checkbox"
    label="Extended Time% "
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="tests"
    cName="oneAndHalfX"
    controlType="checkbox"
    label="1.5x"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="tests"
    cName="twoX"
    controlType="checkbox"
    label="2x"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="tests"
    cName="threeX"
    controlType="checkbox"
    label="3x"
    [userList]="userList"
  > </app-elem-with-sig>

  -->

  <app-extended-time-with-sig
    [wrappedForm]="wrappedForm"
    fGroupName="tests"
    [userList]="userList"
  ></app-extended-time-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="tests"
    cName="distractionReduced"
    controlType="checkbox"
    label="Distraction Reduced Setting"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="tests"
    cName="breaks"
    controlType="text"
    label="Breaks"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="tests"
    cName="altFormat"
    controlType="checkbox"
    label="Alternate Format"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="tests"
    cName="adaptedComputer"
    controlType="checkbox"
    label="Adapted Computer"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="tests"
    cName="brail"
    controlType="checkbox"
    label="Braille"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="tests"
    cName="calculator"
    controlType="checkbox"
    label="Calculator"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="tests"
    cName="dictionary"
    controlType="checkbox"
    label="Dictionary"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="tests"
    cName="enlargedPrint"
    controlType="checkbox"
    label="Enlarged Print"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="tests"
    cName="reader"
    controlType="checkbox"
    label="Reader / Text to speech application"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="tests"
    cName="scribe"
    controlType="checkbox"
    label="Scribe / Voice to text application"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="tests"
    cName="spellChecker"
    controlType="checkbox"
    label="Spell Checker"
    [userList]="userList"
  > </app-elem-with-sig>


  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="tests"
    cName="serviceAnimal"
    controlType="checkbox"
    label="Service Animal"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="tests"
    cName="other"
    controlType="text"
    label="Other"
    [userList]="userList"
  > </app-elem-with-sig>



</div> <!-- second col -->

</div> <!-- grid2col-aap1 -->




