<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- this is before user has been retrieved based on random key -->
  <ion-spinner *ngIf="busy" class="ion-text-center"></ion-spinner>

  <!--  (ngSubmit)="resetPasswordStep2()" -->
  <form *ngIf="resetPasswordForm && user" [formGroup]="resetPasswordForm"   (keydown.enter)="onEnterKeyDown($event)" >

    <ion-grid>
      <ion-row>
        <ion-col>

          <ion-item>
            <ion-label position="floating">Email *</ion-label>
            <ion-input type="email" formControlName="email" ></ion-input>
          </ion-item>
          <div *ngIf="email.touched">
            <ion-item *ngIf="!email.valid">
              <ion-label color="danger">  Your email is required.</ion-label>
            </ion-item>

            <ion-item *ngIf="user && user.email !== email.value">
              <ion-label color="danger"> This email does not match the one you had used to open your account.</ion-label>
            </ion-item>

          </div>
         

          <div formGroupName="newPasswords"> 

       
            <ion-item>
              <ion-label position="floating">Password *</ion-label>
              <ion-input type="password" formControlName="password1" ></ion-input>
            </ion-item>
        
            <ion-item *ngIf="password1.touched && !password1.valid">
              <ion-label color="danger">  Password is required.</ion-label>
            </ion-item>
    
            <ion-item>
              <ion-label position="floating">Confirm Password *</ion-label>
              <ion-input type="password" formControlName="password2" ></ion-input>
            </ion-item>
    
            <ion-item *ngIf="password1.touched && !password1.valid">
              <ion-label color="danger"> Please confirm your password.</ion-label>
            </ion-item>
    
            <ion-item *ngIf="password1.touched && password2.touched && password1.value != password2.value">
                <ion-label color="danger"> Passwords do not match. </ion-label>
            </ion-item>
    
          </div> <!-- formGroupName == passwords -->

          <ion-item>
            <ion-button class="primary" expand="block"
              [disabled]="!resetPasswordForm.valid"
              (click)="resetPasswordStep2()"
              type="submit" >Reset Password</ion-button>
          </ion-item>
  
          <!-- show the spinner when data is being submitted to the server -->
          <ion-spinner *ngIf="busy2"></ion-spinner>

        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

</ion-content>


