<div>
  <ion-grid>


  <form [formGroup]="form" (ngSubmit)="createOrEditForm()" >

    <ion-row>
      <ion-col size-sm="6">
        <ion-item>
          <ion-label position="floating">Full Name </ion-label>
          <ion-input type="text" formControlName="fullName"> </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="form.get('fullName').touched && form.get('fullName').hasError('required')">
      <ion-col size-sm="6">
        <ion-item>
          <p class="ion-danger"> Name is a required field </p>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size-sm="6">
        <ion-item>
          <ion-label position="floating">College ID </ion-label>
          <span>  G0-  </span><ion-input type="number" formControlName="collegeId" ></ion-input>
        </ion-item> <!-- collegeId-->
      </ion-col>
    </ion-row>
        
    <app-inner [form]="form"></app-inner>

    <ion-row>
      <ion-col size-sm="6">
        <ion-item>
          <ion-label postion="floating">foo</ion-label>
            <ion-input type="text" formControlName="foo" ></ion-input>
        </ion-item> <!-- foo -->
      </ion-col>
    </ion-row>
   
    <ion-row>
      <ion-col size-sm="6">
        <ion-button type="submit" [disabled]="!form.valid">Save</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-grid>
</div>

