<div class="grid2col-aap1">
  <!-- first child-->
  <div>
    Hear or process lectures, student discussions
    and related oral presentations
  </div>

<!-- second child -->
<div>


  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="hearLectures"
    cName="assistiveListening"
    controlType="checkbox"
    label="Assistive Listening Device"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="hearLectures"
    cName="closedCaptioning"
    controlType="checkbox"
    label="Closed Captioning"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="hearLectures"
    cName="audioDescOfVideos"
    controlType="checkbox"
    label="Audio Description of Videos"
    [userList]="userList"
  > </app-elem-with-sig>



  <app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="hearLectures"
  cName="oralInterpreter"
  controlType="checkbox"
  label="Oral Interpreter"
  [userList]="userList"
> </app-elem-with-sig>

<app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="hearLectures"
  cName="prefSeating"
  controlType="checkbox"
  label="Preferential Seating"
  [userList]="userList"
> </app-elem-with-sig>

<app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="hearLectures"
  cName="realTimeCaptioning"
  controlType="checkbox"
  label="Real Time Captioning"
  [userList]="userList"
> </app-elem-with-sig>

<app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="hearLectures"
  cName="signLangInterpreter"
  controlType="checkbox"
  label="Sign Language Interpreter"
  [userList]="userList"
> </app-elem-with-sig>


<app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="hearLectures"
  cName="serviceAnimal"
  controlType="checkbox"
  label="Service Animal"
  [userList]="userList"
> </app-elem-with-sig>


<app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="hearLectures"
  cName="other"
  controlType="text"
  label="Other"
  [userList]="userList"
> </app-elem-with-sig>

</div> <!-- second col -->

</div> <!-- grid2col-aap1 -->
