<ion-header>
  <ion-toolbar>
    <ion-title>Student Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<form *ngIf="signUpForm" [formGroup]="signUpForm" (ngSubmit)="signUp()"  (keydown.enter)="onEnterKeyDown($event)" >

  <ion-grid>

  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
      <ion-list>

        <ion-item>
          <ion-label position="floating" >Student Name *</ion-label>
          <ion-input type="email" formControlName="studentName"> </ion-input>
        </ion-item>
        <ion-item *ngIf="studentName.touched && !studentName.valid">
          <ion-label color="danger"> Student name is required. </ion-label>
        </ion-item>

        <ion-item>
          <ion-label position="floating" >Student ID *</ion-label>
          <ion-input type="email" formControlName="collegeId"> </ion-input>
        </ion-item>

        <div *ngIf="collegeId.touched">
          <ion-item *ngIf="collegeId.errors?.required">
            <ion-label color="danger"> Student ID is required. </ion-label>
          </ion-item>
          <ion-item *ngIf="collegeId.errors?.collegeIdFormat">
            <ion-label color="danger"> Please check the Student ID format. </ion-label>
          </ion-item>
        </div>
        

        <ion-item>
          <ion-label position="floating" >Your wvm.edu email address * </ion-label>
          <ion-input type="email" formControlName="email"> </ion-input>
        </ion-item>

        <div *ngIf="email.touched && !email.valid">
          <ion-item>
            <ion-label 
              *ngIf="email.errors?.required" color="danger">  Email is required. 
            </ion-label>
            <ion-label 
              *ngIf="!email.errors?.required && (email.errors?.email || email.errors?.validWvmEmail)" 
              color="danger"> You can sign up only with your wvm.edu email. 
            </ion-label>
          </ion-item>
        </div>
   
        <div formGroupName="passwords"> 

       
        <ion-item>
          <ion-label position="floating">Password *</ion-label>
          <ion-input type="password" formControlName="password1" ></ion-input>
        </ion-item>
    
        <ion-item *ngIf="password1.touched && !password1.valid">
          <ion-label color="danger">  Password is required.</ion-label>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirm Password *</ion-label>
          <ion-input type="password" formControlName="password2" ></ion-input>
        </ion-item>

        <ion-item *ngIf="password1.touched && !password1.valid">
          <ion-label color="danger"> Please confirm your password.</ion-label>
        </ion-item>

        <ion-item *ngIf="password1.touched && password2.touched && password1.value != password2.value">
            <ion-label color="danger"> Passwords do not match. </ion-label>
        </ion-item>

      </div> <!-- formGroupName == passwords -->
 
        <ion-item>
          <ion-label position="floating" >Cell Phone</ion-label>
          <ion-input type="email" formControlName="cellPhone"> </ion-input>
        </ion-item>
      
        <ion-item>
          <ion-button class="primary" expand="block"
            [disabled]="!signUpForm.valid"
            type="submit" >Sign Up</ion-button>
        </ion-item>

        <!-- show the spinner when data is being submitted to the server -->
        <ion-spinner *ngIf="busy" class="ion-text-center"></ion-spinner>
     
        <div *ngIf="duplicateAccountErr">
          <ion-item color="danger" >
            An account for your email address already exists. Please check 
            your email for a verification link to validate your email. 
          </ion-item>

          <ion-button
            type="button" 
            color="primary"
            fill="clear" 
            expand="block" 
            (click)="newVerificationLink()" >
              Request a new verification link. 
          </ion-button>

        </div>
        

         
       

        <!-- <ion-item *ngIf="submitStatus">
          <ion-label *ngIf="submitStatus.message"> {{ submitStatus.message }} </ion-label>
          <pre *ngIf="submitStatus.err"> {{submitStatus.err}} </pre>
        </ion-item> -->

    </ion-list>

    </ion-col>
    </ion-row>

  </ion-grid>

  </form>

</ion-content>


