/* You can add global styles to this file, and also import other style files */
.grid2col-aap1 {
  display:grid;
  grid-template-columns: minmax(200px, 1fr) 3fr;
  grid-gap: 0px;
}

.grid3col-aap1 {
  display:grid;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
  grid-gap: 0px;
}

// each child of grid2col-aap1
.grid2col-aap1 > div {
  margin: 0px;
  padding: 7px;
  border: 1px solid black;
}

.grid3col-aap1 > div {
  margin: 0px;
  padding-right: 7px;
  border: 1px solid black;
}

.strong {
  font-weight: bold;
}
.vert-space-footer-1 {
  margin: 20px 0px 10px;
  padding: 20px 10px 10px;
}

.vert-space-footer-2 {
  margin: 0px 10px 10px;
  padding-bottom: 0px 20px 10px;
}
