<div class="grid2col-aap1">
  <!-- first child-->
  <div>
    Adapted physical and mental health related support
  </div>

  <!-- second child -->
  <div>



    <app-elem-with-sig [wrappedForm]="wrappedForm"
      fGroupName="healthRelatedSupport"
      cName="adaptiveKinesiology"
      controlType="checkbox"
      label="Adaptive Kinesiology"
      [userList]="userList"
    > </app-elem-with-sig>


  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="healthRelatedSupport"
    cName="other"
    controlType="text"
    label="Other"
    [userList]="userList"
  > </app-elem-with-sig>


</div> <!-- second col -->

</div> <!-- grid2col-aap1 -->
