
<div class="container-fluid" *ngIf="wrappedForm" >

  <!-- <h1>{{ formTitle }} </h1> -->

  <h1>AAP Part 1</h1>

  <div class="row">
    <div class="col-sm-12">

  <app-aap1header [wrappedForm]="wrappedForm" ></app-aap1header>

  <!-- <table class="table table-bordered">
    <thead>
    <tr>
      <th>Educational Limitations</th>
      <th>Accommodations, Auxiliary Aids and/or Instructions</th>
      <th>DSPS Specialist Approval Signature</th>
      <th>Date </th>
    </tr>
    </thead>

    <tbody>

      <app-written-course-req [wrappedForm]="wrappedForm" [userList]="dspsUserListSmall"></app-written-course-req>

    </tbody>
  </table> -->

  <!-- four column grid -->

  <div class="grid2col-aap1">
    <!-- first child -->
    <div class="bold">Educational Limitations</div>

    <!-- second child, itself a grid-->
    <div class="grid3col-aap1">
      <div class="bold">Accommodations, Auxiliary Aids and/or Instructions</div>
      <div class="bold">DSPS Specialist Approval Signature</div>
      <div class="bold">Date</div>
    </div>
  </div>

  <app-written-course-req [wrappedForm]="wrappedForm" [userList]="dspsUserListSmall"></app-written-course-req>


  <app-moving-around-campus [wrappedForm]="wrappedForm" [userList]="dspsUserListSmall"></app-moving-around-campus>

  <app-visual-aids [wrappedForm]="wrappedForm" [userList]="dspsUserListSmall"></app-visual-aids>

  <app-tests [wrappedForm]="wrappedForm" [userList]="dspsUserListSmall" ></app-tests>

  <app-hear-lectures [wrappedForm]="wrappedForm" [userList]="dspsUserListSmall" ></app-hear-lectures>

  <app-plan-classes [wrappedForm]="wrappedForm" [userList]="dspsUserListSmall" ></app-plan-classes>

  <app-personal-issues [wrappedForm]="wrappedForm" [userList]="dspsUserListSmall"></app-personal-issues>

  <app-facilities [wrappedForm]="wrappedForm" [userList]="dspsUserListSmall" ></app-facilities>

  <app-career  [wrappedForm]="wrappedForm" [userList]="dspsUserListSmall" ></app-career>

  <app-develop-skills  [wrappedForm]="wrappedForm" [userList]="dspsUserListSmall" ></app-develop-skills>

  <app-health-related-support [wrappedForm]="wrappedForm" [userList]="dspsUserListSmall" ></app-health-related-support>


  <app-other [wrappedForm]="wrappedForm" [userList]="dspsUserListSmall" ></app-other>


  <app-aap1footer [wrappedForm]="wrappedForm" [userList]="dspsUserListSmall" [mode]="mode"></app-aap1footer>


 </div> <!-- col-sm-12 -->
</div>  <!-- row -->


  <div class="row vert-space-footer-1">
    <div class="col-sm-4 col-sm-offset-1">
      <div *ngIf="lastModifiedBy" >
          Last edited by  {{ lastModifiedBy }},  {{ lastModified | date }}.
      </div>
    </div> <!-- col -->
    <div class="col-sm-4">
        <div *ngIf="currentVersion" >
             Version:  {{ currentVersion }}
        </div>
    </div> <!-- col -->

  </div> <!-- row -->

  <div class="row vert-space-footer-1">
    <div class="col-sm-5 col-sm-offset-1">



  <!--- show the signature, if it exists, only in view mode -->

  <!-- TODO -->
  <app-sig-view
    *ngIf="mode === 'view'"
    [signatures]="wrappedForm.signatures"
    [sigStatus]="wrappedForm.studentSigStatus"
    [focusOnSignature]="focusOnSignature" ></app-sig-view>

  <!-- TODO student needs to see the app-sig-create component as well, in view mode -->

</div> <!-- col -->
</div>  <!-- row -->

</div> <!-- container -->
