<div *ngIf="grid" class="grid2Col" >
  <app-disability-services
    [form]="form"
    controlName="disabilityServicesPrimary"
    title="Primary"
  ></app-disability-services>

  <app-disability-services
    [form]="form"
    controlName="disabilityServicesSecondary"
    title="Secondary"
  ></app-disability-services>

</div>


<div *ngIf="! grid" >

  <!-- same stuff here, but because parent class is not grid2Col 
    these will be displayed one after the other instead of side by side.
  -->
  <app-disability-services
    [form]="form"
    controlName="disabilityServicesPrimary"
    title="Primary"
  ></app-disability-services>

  <app-disability-services
    [form]="form"
    controlName="disabilityServicesSecondary"
    title="Secondary"
  ></app-disability-services>

</div>