
<!-- 3 col grid -->
<div class="grid3col-aap1">

    <!-- first child of inner grid -->
    <div>
      <app-label-value-print
        [controlType]="controlType"
        [value]="value"
        [label]="label" >
      </app-label-value-print>

      <!-- if checkbox,  another 2-col grid -->
      <!-- <app-checkbox-grid
          *ngIf="controlType === 'checkbox'"
          [value]="value"
          [label]="label" >
      </app-checkbox-grid> -->

      <!-- not a checkbox means a text field. radios are not handled by this component -->
      <!-- <div *ngIf="controlType !== 'checkbox'">
        <div>  {{ label }}:  <span class="text-highlight"> {{ value }} </span> </div>
      </div> -->

    </div> <!-- end, first child of inner grid-->

    <!-- 2nd child of inner grid -->
    <div>
        <!-- if none available, this will be empty -->
        {{ lastHistoricalUser}}
    </div>

    <!-- 3rd child of inner grid -->
    <div>
        <!-- if none available, this will be empty -->
        {{ lastHistoricalDate | date}}
    </div>

  </div> <!-- end of 3 col grid -->

