
<!-- 3 col grid -->
<div class="grid3col-aap1">

    <!-- first child of inner grid -->
    <div>

      <!-- if checkbox,  another 2-col grid -->
      <div *ngIf="controlType === 'checkbox'" class="grid-checkbox-elem">

        <!-- first child -->
        <div>
          <!-- if value, checked. else unchecked-->
          <i *ngIf="value" class="glyphicon glyphicon-check mybtn-blue"></i>
          <i *ngIf="!value" class="glyphicon glyphicon-unchecked mybtn-grey"></i>
        </div>

        <!-- second child -->
        <div>  {{ label }}  </div>

      </div> <!-- end checkbox -->

      <!-- not a checkbox means a text field. radios are not handled by this component -->
      <div *ngIf="controlType !== 'checkbox'">
        <div>  {{ label }}:  <span class="highlight"> {{ value }} </span> </div>
      </div>

    </div> <!-- end, first child of inner grid-->

    <!-- 2nd child of inner grid -->
    <div>
        <!-- if none available, this will be empty -->
        {{ lastHistoricalUser}}
    </div>

    <!-- 3rd child of inner grid -->
    <div>
        <!-- if none available, this will be empty -->
        {{ lastHistoricalDate | date}}
    </div>

  </div> <!-- end of 3 col grid -->

