<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab='bluesheet'>
      <ion-label>Blue Sheets</ion-label>
      <ion-icon name='search'> </ion-icon>
    </ion-tab-button>

    <ion-tab-button tab='accomplan'>
      <ion-label>Accommodation Plans</ion-label>
      <ion-icon name='card'></ion-icon>

    </ion-tab-button>

    <ion-tab-button tab='list-users'>
      <ion-label>DSPS Users</ion-label>
      <ion-icon name='list'></ion-icon>

    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>