<form *ngIf="form" [formGroup]="form" (ngSubmit)="createOrEditForm()" >

  <h1 class="ion-padding">DSPS Student Data Collection Form</h1>
  <app-student-personal-info [form]="form" [grid]="grid"></app-student-personal-info>
  

  <app-student-part2 [form]="form" [grid]="grid"></app-student-part2>

  <app-student-part3 [form]="form" [grid]="grid"></app-student-part3>
  
  <app-disability-services-container [form]="form" [grid]="grid" ></app-disability-services-container>

  

  <ion-grid >
    <ion-row  *ngIf="mode !== 'view'">

      <!--  -->
      <ion-col size-sm="3" offset-sm="2">
        <ion-button 
          type="submit" 
          [disabled]="!form.valid"          
          >Save</ion-button>
      </ion-col>

      <ion-col size-sm="3">
        <ion-button 
          type="button"  
          fill="outline" 
          color="tertiary"
          (click)="onCancel()">
          Cancel
        </ion-button>
      </ion-col>
    </ion-row>  <!-- submit and cancel buttons -->

    <ion-row  *ngIf="mode !== 'create'">
      <ion-col size-sm="5">
        <ion-item *ngIf="lastModifiedBy" lines="none">
          <ion-label >
            Last edited by  {{ lastModifiedBy }},  {{ lastModified | date }}.
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size-sm="2">
          <ion-item *ngIf="currentVersion" lines="none" >
            <ion-label >
               Version:  {{ currentVersion }}
            </ion-label>
          </ion-item>
      </ion-col>
    
    </ion-row>
    
  </ion-grid>

</form>