// make a copy of this file. call it .env and remove all comment lines (such as this line)
// change env variables to fit your environment. remove these comment lines from .env
JSON_WEB_TOKEN_SERVER_KEY=something_very_long_and_random
MONGO_URL='mongodb://localhost:27017/dspsadvising'
FIRST_TIME=0
EMAIL_BLUE_SHEET=foo@example.edu,fubar@example.edu
EMAIL_AAP=bar@example.edu
EMAIL_HOST=example.smtpserver.com
EMAIL_PORT=587
EMAIL_SENDER=yourEmailSender
EMAIL_REPLYTO=optional-or-remove-this-line-if-necessary
EMAIL_TYPE=TLS_WITH_CYPHER-or-remove-this-line
EMAIL_AUTH_USER=yourUserForSMTPServer
EMAIL_AUTH_PASS=yourAuthUserPassword
EMAIL_NO_EMAIL=0
RANDOM_KEY_TIME_LIMIT=1
PORT=3001-or-remove-default-is-3001
