<!--The content below is only a placeholder and can be replaced.-->
<section id="signout">
  <!-- <div class="page-header"> -->
    <div class="pull-right some-space">
      <div class="btn-group">
          <button class="btn btn-tertiary" (click)="onLogout()">
              Sign Out
          </button>
      </div> <!-- btn-group -->
    </div> <!-- pull-right -->
  <!-- </div>  -->
  <!-- page header -->

  <!-- the iframe is added only if sameSite is false -->
  <app-sub-site-communicator *ngIf="!sameSite"></app-sub-site-communicator>
</section>





<router-outlet></router-outlet>
