<form *ngIf="form" [formGroup]="form" (ngSubmit)="createOrEditForm()" >
  <h1 class="ion-padding">AAP Part 1</h1>

  <app-aap1header [form]="form" [userList]="dspsUserListSmall"></app-aap1header>

 
  <app-written-course-req [form]="form" [userList]="dspsUserListSmall"></app-written-course-req>

  <app-moving-around-campus [form]="form" [userList]="dspsUserListSmall"></app-moving-around-campus>
  
  <app-visual-aids [form]="form" [userList]="dspsUserListSmall"></app-visual-aids>

  <app-tests [form]="form" [userList]="dspsUserListSmall" ></app-tests>

  <app-hear-lectures [form]="form" [userList]="dspsUserListSmall" ></app-hear-lectures>

  <app-plan-classes [form]="form" [userList]="dspsUserListSmall" ></app-plan-classes>

  <app-personal-issues [form]="form" [userList]="dspsUserListSmall"></app-personal-issues>

  <app-facilities [form]="form" [userList]="dspsUserListSmall" ></app-facilities>

  <app-career  [form]="form" [userList]="dspsUserListSmall" ></app-career>

  <app-develop-skills  [form]="form" [userList]="dspsUserListSmall" ></app-develop-skills>

  <app-health-related-support [form]="form" [userList]="dspsUserListSmall" ></app-health-related-support>

  <app-other [form]="form" [userList]="dspsUserListSmall" ></app-other>

  <app-aap1footer [form]="form" [userList]="dspsUserListSmall" ></app-aap1footer>

  <ion-grid>
   
  <ion-row  *ngIf="mode !== 'view'">

    <ion-col size-sm="3" offset-sm="2">
      <ion-button 
        type="submit"  
        [disabled]="!form.valid" >Save</ion-button>
    </ion-col>

    <ion-col size-sm="3">
      <ion-button 
        type="button"  
        fill="outline" 
        color="tertiary"
        (click)="onCancel()">
        Cancel
      </ion-button>
    </ion-col>
  </ion-row>  <!-- submit and cancel buttons -->

  <ion-row  *ngIf="mode !== 'create'">
    <ion-col size-sm="4">
      <ion-item *ngIf="lastModifiedBy" lines="none">
        <ion-label >
          Last edited by  {{ lastModifiedBy }},  {{ lastModified | date }}.
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size-sm="2">
        <ion-item *ngIf="currentVersion" lines="none" >
          <ion-label >
             Version:  {{ currentVersion }}
          </ion-label>
        </ion-item>
    </ion-col>
  
  </ion-row>

</ion-grid>
  
</form>
