<form *ngIf="form" [formGroup]="form" (ngSubmit)="createOrEditForm()" >
  <h1 class="ion-padding">AAP Part 1</h1>

  <app-aap1header [form]="form" [userList]="userList"></app-aap1header>

 
  <app-written-course-req [form]="form" [userList]="userList"></app-written-course-req>

  <app-moving-around-campus [form]="form" [userList]="userList"></app-moving-around-campus>
  
  <app-visual-aids [form]="form" [userList]="userList"></app-visual-aids>

  <app-tests [form]="form" [userList]="userList" ></app-tests>

  <app-hear-lectures [form]="form" [userList]="userList" ></app-hear-lectures>

  <app-plan-classes [form]="form" [userList]="userList" ></app-plan-classes>

  <app-personal-issues [form]="form" [userList]="userList"></app-personal-issues>

  <app-facilities [form]="form" [userList]="userList" ></app-facilities>

  <app-career  [form]="form" [userList]="userList" ></app-career>

  <app-develop-skills  [form]="form" [userList]="userList" ></app-develop-skills>

  <app-health-related-support [form]="form" [userList]="userList" ></app-health-related-support>

  <app-other [form]="form" [userList]="userList" ></app-other>

  <!-- [disabled]="!form.valid" -->
   <ion-grid *ngIf="mode !== 'view'">
    <ion-row>
      <ion-col size-sm="6">
        <ion-button type="submit" 
       
        >Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</form>
