<div [formGroup]="form">
  <div formGroupName="general">

    <!-- 
      envAdjustments, generalNotes
    -->
  <div *ngIf="grid" >

    <!-- this is a two col grid -->

    <ion-item>
      <ion-label position="floating">Environmental Adjustments (Describe):</ion-label>
      <ion-textarea rows="3" formControlName="envAdjustments"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">GENERAL NOTES:</ion-label>
      <ion-textarea rows="3" formControlName="generalNotes"></ion-textarea>
    </ion-item>

  
  </div>

  <ion-grid *ngIf="!grid" >

    <!-- flow layout when there is no 2 col grid-->

    <ion-row>
      <ion-col size-sm="4">
        <ion-item>
          <ion-label position="floating">Environmental Adjustments (Describe):</ion-label>
          <ion-textarea rows="3" formControlName="envAdjustments"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="4">
        <ion-item>
          <ion-label position="floating">GENERAL NOTES:</ion-label>
          <ion-textarea rows="3" formControlName="generalNotes"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>



</div> <!-- formGroupName -->
</div> <!-- formGroup -->
