<div class="grid2col-aap1">
  <!-- first child-->
  <div>
    Deal with disability related personal issues,
    interact with college instructors,
    counselors and other personal related to special needs
  </div>

<!-- second child -->
<div>


  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="personalIssues"
    cName="campusServiceRef"
    controlType="checkbox"
    label="Campus Service Referral"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="personalIssues"
    cName="communityServiceRef"
    controlType="checkbox"
    label="Community Service Referral"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="personalIssues"
  cName="counseling"
  controlType="checkbox"
  label="Disability-related Counseling"
  [userList]="userList"
> </app-elem-with-sig>

<app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="personalIssues"
  cName="healthSafety"
  controlType="checkbox"
  label="Health and Safety Recommendations"
  [userList]="userList"
> </app-elem-with-sig>

<app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="personalIssues"
  cName="liason"
  controlType="checkbox"
  label="Liaison"
  [userList]="userList"
> </app-elem-with-sig>

<app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="personalIssues"
  cName="serviceAnimal"
  controlType="checkbox"
  label="Service Animal"
  [userList]="userList"
> </app-elem-with-sig>

<app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="personalIssues"
  cName="other"
  controlType="text"
  label="Other"
  [userList]="userList"
> </app-elem-with-sig>

</div> <!-- second col -->

</div> <!-- grid2col-aap1 -->
