<div [formGroup]="form">
  <div [formGroupName]="secondaryGroup">

    <ion-radio-group 
      [formControlName]="controlName" 
      allow-empty-selection="true" 
      (ionChange)="onChangeHandler($event)" >

      <!--  horizontal arrangement -->
      <ul class="no-left-padding">

        <li>
          <ion-item lines="none">
            <ion-label>
              {{ label }}
            </ion-label>
          </ion-item>
        </li>

        <li>
          <ion-item lines="none">
            <ion-label>Yes</ion-label>
            <ion-radio 
              [disabled]="isDisabled"
              value="yes">
            </ion-radio>
          </ion-item>
        </li>

        <li>
          <ion-item lines="none">
            <ion-label>No</ion-label>
            <ion-radio
              [disabled]="isDisabled"
              value="no">
            </ion-radio>
          </ion-item>
        </li>
     
      </ul>

    </ion-radio-group>
  </div>
</div>