<div *ngIf="formInfo.formName == 'aap1' && data && !busy ">

  <app-aap1
    [formKey]="data._id"
    [wrappedForm]="data"
    [mode]="'view'"
    >

  </app-aap1>

 </div>

 <div *ngIf="formInfo.formName == 'bluesheet' && data && !busy ">

  <app-bluesheet
    [formKey]="data._id"
    [wrappedForm]="data"
    [mode]="'view'"
    >

  </app-bluesheet>

 </div>

 <div *ngIf="formInfo.formName == 'greensheet' && data && !busy ">

  <app-greensheet
    [formKey]="data._id"
    [wrappedForm]="data"
    [mode]="'view'"
    >

  </app-greensheet>

 </div>




