.uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #db3030;
}
.vert-space {
  margin-top: 10px;
  padding-top: 10px;
}

// mat-spinner {
//   width: 10px;
//   height: 10px;
// }
