<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab='form/list/bluesheet'>
      <ion-label>Blue Sheets</ion-label>
      <ion-icon name='search'> </ion-icon>
    </ion-tab-button>

    <ion-tab-button tab='form/list/aap1'>
      <ion-label>Accommodation Plans - Part 1</ion-label>
      <ion-icon name='card'></ion-icon>

    </ion-tab-button>

    <ion-tab-button tab='form/list/aap2'>
      <ion-label>Accommodation Plans - Part 2</ion-label>
      <ion-icon name='card'></ion-icon>

    </ion-tab-button>

    <ion-tab-button tab='form/list/greensheet'>
      <ion-label>Greensheets</ion-label>
      <ion-icon name='card'></ion-icon>
    </ion-tab-button>



    <ion-tab-button tab='users/list-dsps-users'>
      <ion-label>DSPS Users</ion-label>
      <ion-icon name='list'></ion-icon>

    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
