<!-- this is one-half of a two col grid -->

<div class="panel panel-default">

  <div class="panel-heading">
    <div class="panel-title inline">
      Adaptive Technology / Assistive Device
    </div>
  </div> <!-- panel-heading -->

  <div class="panel-body">

    <div class="list-group">

       <!--
        computer, calculator
       -->
      <button class="list-group-item list-group-item-action" disabled >
        <div class="grid2-inner">
          <app-checkbox-grid
              [value]="wrappedForm?.formWithLatestHistory['adaptiveTech']['computer'].val"
              [label]="'Computer'" >
          </app-checkbox-grid>

          <app-checkbox-grid
              [value]="wrappedForm?.formWithLatestHistory['adaptiveTech']['calculator'].val"
              [label]="'Calculator'" >
          </app-checkbox-grid>

        </div>
      </button>

      <!-- cctvMagnifier, assistiveListeningDevice  -->
      <button class="list-group-item list-group-item-action" disabled >
        <div class="grid2-inner">

          <app-checkbox-grid
              [value]="wrappedForm?.formWithLatestHistory['adaptiveTech']['cctvMagnifier'].val"
              [label]="'CCTV/Magnifier'" >
          </app-checkbox-grid>

          <app-checkbox-grid
              [value]="wrappedForm?.formWithLatestHistory['adaptiveTech']['assistiveListeningDevice'].val"
              [label]="'Assistive Listening Device'" >
          </app-checkbox-grid>

        </div> <!-- grid2 inner -->
      </button>


      <!-- digitalRecorder,  liveScribeSmartPen -->
      <button class="list-group-item list-group-item-action" disabled >
        <div class="grid2-inner">

          <app-checkbox-grid
              [value]="wrappedForm?.formWithLatestHistory['adaptiveTech']['digitalRecorder'].val"
              [label]="'Digital Recorder'" >
          </app-checkbox-grid>

          <app-checkbox-grid
              [value]="wrappedForm?.formWithLatestHistory['adaptiveTech']['liveScribeSmartPen'].val"
              [label]="'Livescribe Smart Pen'" >
          </app-checkbox-grid>
        </div> <!-- grid2 inner -->
      </button>

       <!-- ipadAndroidTablet -->
      <button class="list-group-item list-group-item-action" disabled >
        <app-checkbox-grid
          [value]="wrappedForm?.formWithLatestHistory['adaptiveTech']['ipadAndroidTablet'].val"
          [label]="'iPad/Android tablet'" >
        </app-checkbox-grid>
      </button>

      <!--  other -->

      <button class="list-group-item list-group-item-action" disabled >
        <app-label-value-print
          [value]="wrappedForm?.formWithLatestHistory['adaptiveTech']['other'].val"
          [label]="'Other'"
          [controlType]="'text'" >
        </app-label-value-print>
      </button>

    </div>


  </div> <!-- panel-body -->
</div> <!-- panel panel-default -->
