
  <div class="row vert-space-footer-1">
    <div class="col-sm-10 col-sm-offset-1">
     <p class="strong">
      I, the undersigned DSPS professional, agree that the
      accommodations approved above are reasonable for certain classes or
      educational settings at this college and may not apply to other institutions.
      If an agreement between faculty member, student, and myself cannot be reached,
      I will refer the student to the formal college grievance procedure.
     </p>
     <p class="strong">
       Student was provided the <a href="https://drive.google.com/file/d/14OOPvIwOSN2KxMfma1jZzs7-w7TSCdJ6/view">
      DSPS policies and procedures document</a> that is also posted on the
      <a href="https://missioncollege.edu/depts/disability-support-programs/forms.html" >DSPS website.</a>
     </p>
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row vert-space-footer-2">
    <div class="col-sm-10 col-sm-offset-1">
      <p>
      DSPS Professional's Signature: {{ completedBySignature }}
      </p>

    </div> <!-- col -->
  </div> <!-- row-->

