<div class="grid2col-aap1">
  <!-- first child-->
  <div>
    Using educational facilities, materials and equipment
  </div>

<!-- second child -->
<div>


  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="facilities"
    cName="adaptedFurniture"
    controlType="checkbox"
    label="Adapted Furniture"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="facilities"
    cName="assistiveTech"
    controlType="checkbox"
    label="Assistive Technology"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="facilities"
    cName="breaksFrequency"
    controlType="text"
    label="Breaks - Frequency"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="facilities"
    cName="breaksDuration"
    controlType="text"
    label="Breaks - Duration"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
    fGroupName="facilities"
    cName="envAdj"
    controlType="text"
    label="Environmental Adjustments"
    [userList]="userList"
  > </app-elem-with-sig>

  <app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="facilities"
  cName="prefSeating"
  controlType="checkbox"
  label="Preferential Seating"
  [userList]="userList"
> </app-elem-with-sig>

<app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="facilities"
  cName="standingOrLeavingClassroom"
  controlType="checkbox"
  label="Standing or leaving classroom"
  [userList]="userList"
> </app-elem-with-sig>

<app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="facilities"
  cName="serviceAnimal"
  controlType="checkbox"
  label="Service Animal"
  [userList]="userList"
> </app-elem-with-sig>

<app-elem-with-sig [wrappedForm]="wrappedForm"
  fGroupName="facilities"
  cName="other"
  controlType="text"
  label="Other"
  [userList]="userList"
> </app-elem-with-sig>


</div> <!-- second col -->

</div> <!-- grid2col-aap1 -->
