<form *ngIf="form" [formGroup]="form" (ngSubmit)="createOrEditForm()" >
  <!-- <h1 class="ion-padding">DSPS ACADEMIC ACCOMMODATIONS PLAN (AAP) - Part 2</h1> -->


  <app-aap2header [form]="form" [grid]="grid" [mode]="mode"></app-aap2header>

  <app-long-term-ed-goal [form]="form" [grid]="grid"></app-long-term-ed-goal>

  <app-progress-obj-part1 [form]="form" [grid]="grid" ></app-progress-obj-part1>

  <app-progress-obj-part2 [form]="form" [grid]="grid" ></app-progress-obj-part2>

  <ion-grid>
   
    <ion-row  *ngIf="mode !== 'view'">
  
      <ion-col size-sm="3" offset-sm="2">
        <ion-button 
          type="submit"  
          [disabled]="!form.valid" >Save</ion-button>
      </ion-col>
  
      <ion-col size-sm="3">
        <ion-button 
          type="button"  
          fill="outline" 
          color="tertiary"
          (click)="onCancel()">
          Cancel
        </ion-button>
      </ion-col>
    </ion-row>  <!-- submit and cancel buttons -->
  
    <ion-row  *ngIf="mode !== 'create'">
      <ion-col size-sm="5">
        <ion-item *ngIf="lastModifiedBy" lines="none">
          <ion-label >
            Last edited by  {{ lastModifiedBy }},  {{ lastModified | date }}.
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size-sm="2">
          <ion-item *ngIf="currentVersion" lines="none" >
            <ion-label >
               Version:  {{ currentVersion }}
            </ion-label>
          </ion-item>
      </ion-col>
    
    </ion-row>
  
  </ion-grid>

</form>
